#token-emission-template { display: none;}

textarea[required]:invalid, input[required]:invalid {
  border: 1px solid red;
  background: rgba(255, 0, 0, 0.1);
}
/*
input:valid {
  border: 2px solid black;
}
*/
